<% @site_section = @build.build_id %>
<div class="viewport" style="width:1200px">
  <p>
    Expose <b><%= @build.target_host %></b> as
    <b class="exposed-as"><%= @build.exposed_host %></b>
    on <b><%= @build.os %></b>
  </p>
<p>
  <a href="<%= url_for(action: :download, id: @build.build_id) %>">
    <%= image_tag(
      "/images/download.png",
      class: "download",
      alt: "Download!",
      title: @build.binary_file_name
    ) %>
  </a>
</p>
<p><b class="tip"><%= @build.tip %></b></p>
</div>
